<div style="display: flex; flex-direction: column; align-items: center;">
    <button (click)="onSolve()" style="margin-bottom: 20px; padding: 10px 20px; font-size: 16px;">
      Resolver Graficamente
    </button>

    <plotly-plot 
      *ngIf="graph"
      [data]="graph.data" 
      [layout]="graph.layout"
      [useResizeHandler]="true"
      [style]="{position: 'relative', width: '100%', height: '500px'}">
    </plotly-plot>

    <!-- <plotly-plot
    [data]="graph.data"
    [layout]="graph.layout"
    [useResizeHandler]="true"
    [style]="{position: 'relative', width: '100%', height: '100%'}">
  </plotly-plot> -->

</div>